I have now found the following information:

Your role is: {{ user_role }}

Your describe the product as: {{ product_description}}

Your target persona is described as: {{ target_persona }}

And I found some further information: {{ further_info }}

I will now conduct some background research on this. Bear with me.
