Welcome to this Claims Genie Demo!

I will ask you some questions before I can generate the best claim for your product.

The first question is: Which of these options best describes your role?
- Product Formulator / Ingredients Specialist
- Sensory Expert
- Packaging Specialist for a product packaging
- Claims manage