I have determined that your role is '{{user_role}}'.

In order to create new claims for your product, I need some information. Can you please
provider me with a description of the product that you are marketing as well as the target
persona that you want your claim to appeal to?
