{% extends "claims/prompt_extract_categories_base.jinja2" %}
{% block category_question %}
Identify the "user_role".
This is the role of the user (normally found in the early stages of the dialogue)
{% endblock %}