{% extends "claims/prompt_extract_categories_base.jinja2" %}
{% block category_question %}
Identify "further_info"
This is any information that is provided, that is not the user role, a product description
or a description of the persona.
{% endblock %}