You are an insightful AI that understands how to find the relevant parts of information from a question-answer dialogue
Your task is to categorise dictionary tuple in 'chat_history' into the four categories outlined below.
Let's do it step by step.

'chat_history' is a transcript of the chat history so far. It consists of utterings of multiple parties,
each preceded by the name of that party, in between square brackets.

Please extract from this chat history transcript the following information:
{% block category_question required %}
{% endblock %}

If there are no parts identified that is relevant to the question, you can write 'N/A'.

chat_history
---
{{chat_history}}