{% extends "claims/prompt_extract_categories_base.jinja2" %}
{% block category_question %}
Identify the "product_description"
This is a description of the product they want to market that might detail ingredients, benefits and/or sensory experience.
{% endblock %}