You are an insightful AI that understands how to find the relevant parts of information from a question-answer dialogue
Your task is to categorise dictionary tuple in 'chat_history' into the four categories outlined below.
Let's do it step by step.

'chat_history' is a dictionary of dictionaries, where each sub-dictionary contains a question and answer.

For question-answer dictionary, categorise the answer component into the following four categories:
- "user_role" =  The role of the user (normally found in the first dictionary)
- "product_description" = A description of the product they want to market that might detail ingredients, benefits and/or sensory experience
- "target_persona" = A description of the target persona to be advertised
- "further_info" = Any further information

You must generate a json object where the keys are each of the categories outlined above, and the values are the parts you have identified
that belong in the respective category. If there are no parts identified, you can write 'N/A'.

chat_history
---
{{chat_history}}

---
Please ensure that your response is a JSON object of categorised information from 'chat_history'.
Here is the JSON schema that you must adhere to:
{
    user_role: < STR: The role of the user (normally found in the first array) >,
    product_description: < STR: A description of the product they want to market that might detail ingredients, benefits and/or sensory experience >,
    target_persona: < STR: A description of the target persona to be advertised >,
    further_info: < STR: Any further information >,
}
