python-statemachine
pydantic~=2.7.1
pydantic-redis==0.5.0
jinja2~=3.1.4
loguru~=0.7.2
fastapi~=0.111.0
celery~=5.4.0
redis
python-redis-lock~=4.0.0
openai~=1.28.1
PyYAML~=6.0.1
requests~=2.31.0
dependency-injector
weaviate-client~=4.6.5